doctype html
html
	head(lang="en")
		meta(charset="UTF-8")
		meta(name="viewport"  content="initial-scale=1, maximum-scale=1")
		title 그룹채팅
		link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
		link(href="css/main.css", rel="stylesheet")
		script(src="http://code.jquery.com/jquery-1.11.1.min.js")
		script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
		script(src="js/xssFilter.js")

	body
		div(data-role="page")
			div(data-role="header" data-position="fixed")
				h1 그룹채팅
			div(data-role="content" style="overflow:hidden;  height:80%")
				div(class="j-message")
			div(data-role="footer", data-position="fixed")
				div(class="j-footer")
					table(width="100%" cellpadding="2")
						tr
							td(width="10%")
								input(id="my_id" type="text")
							td(width="70%")
								input(id="message-input"  type="text" data-clear-btn="true")
							td(width="20%")
								button(id="message-button"  data-role="button" type="button") SEND						
		script(type="text/javascript" src="js/socket.io-1.4.0.js")
		script(type="text/javascript" src="js/chat.js")
